.background-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.background-map::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(from var(--theme-white-black) r g b / 65%);
  opacity: 1;
  display: block;
  pointer-events: none;
  z-index: 1000;
}
